<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI News Scrapper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <div class="overlay" id="overlay"></div> <!-- Overlay element -->

    <header>
        <h1>WorldWide <span>Bulletin</span></h1>  <!-- here the span "APP" is in black color-->
    </header>

    <nav>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <div class="close-icon" id="closeIcon" style="display:none;" onclick="toggleMenu()">✖</div>
    </nav>

    <ul id="category-menu">
        <li><a href="{% url 'head_function' %}"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#News">News</a></li>
        <li><a href="{% url 'inovation' %}">Inovation</a></li>
        <li><a href="{% url 'sports' %}">Sports</a></li>
        <li><a href="{% url 'business' %}">Business</a></li>
        <li><a href="#Arts">Arts</a></li>
        <li><a href="{% url 'culture' %}">Culture</a></li>
        <li><a href="{% url 'aboutus' %}">About Us</a></li>
    </ul>

<!--    <div class="page_name"><i class="fas fa-home"></i><h2>Home</h2></div>-->

    <div class="news-block">
        {% for headline, para, web_img,summary, links in news %}
            <div class="news-container" >

                <div class="news-container-left">
                    <img src="{{ web_img }}" alt="News Image">
                    <h2>{{ headline }}</h2> <!-- Display each headline -->
                    <p>{{ para }}</p> <!-- Display corresponding paragraph -->
                </div>

                <div class="news-container-right">
                    <div class="news-summary">
                        <p>{{ summary }}</p>
                    </div>
                    <div class="journalist-name">
                        <a href="{{ links }}">Read More at :- {{links}}</a> <!-- Only journalist's name is clickable -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <footer>
        <div class="head">
            <h1>WorldWide <span>Bulletin</span></h1>
        </div>

        <div class="footer-container">
        <!-- About Us Section -->
            <div class="footer-content about-us">
                <h3>About Us</h3>
                <p>Created By a Bunch of Universal Rookies</p>
                <a href="{% url 'aboutus' %}">Your just a Click away
                    Know More About Us</a>
            </div>

            <!-- Quick Links Section -->
            <div class="footer-content quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="{% url 'head_function' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#News">News</a></li>
                    <li><a href="{% url 'inovation' %}">Inovation</a></li>
                    <li><a href="{% url 'sports' %}">Sports</a></li>
                    <li><a href="{% url 'business' %}">Business</a></li>
                    <li><a href="#Arts">Arts</a></li>
                    <li><a href="{% url 'culture' %}">Culture</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="footer-content contact-info">
                <h3>Contact Info</h3>
                <p>Email: teaiml@worldwidebulletin.com</p>
                <p>Phone: +8097032232</p>
            </div>

            <!-- Social Media Section -->
            <div class="footer-content social-media">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2024 WorldWide Bulletin. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="{% static 'script.js' %}"></script>

</body>
</html>