<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI News Scrapper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <header>
        <h1>BRIEFLY: Your News,Simplified<span>APP</span></h1>  <!-- here the span "APP" is in black color-->
    </header>

    <nav>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <ul id="category-menu">
            <li><a href="{% url 'head_function' %}"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="Travel.html">News</a></li>
            <li><a href="{% url 'inovation' %}">Inovation</a></li>
            <li><a href="{% url 'sports' %}">Sports</a></li>
            <li><a href="#business">Business</a></li>
            <li><a href="#politics">Arts</a></li>
            <li><a href="#crime">Culture</a></li>
        </ul>
    </nav>

<!--    <div class="page_name"><i class="fas fa-home"></i><h2>Home</h2></div>-->

    <div class="large-news-block">
        {% for headline, para, web_img,summary in news %}
            <div class="large-news-item" >

                <div class="large-news">
                    <img src="{{ web_img }}" alt="News Image">
                    <h2>{{ headline }}</h2> <!-- Display each headline -->
                    <p>{{ para }}</p> <!-- Display corresponding paragraph -->
                </div>

                <a href="https://bbc.com/" class="news-summary"><!--Add the link here-->
                    <div class="news-text">
                        <p>{{ summary }}</p>
                    </div>
                    <div class="journalist-name">
                        <p>By: Arin Thamke</p> <!-- Display journalist's name -->
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <footer>
        <div class="footer-content">
            <h3>About Us</h3>
            <p>WORLD WIDE BULLETIN</p>
            <p>Created By a Bunch of Universal Rookies</p>
        </div>
    </footer>

    <script src="{% static 'script.js' %}"></script>

</body>
</html>